@font-face {
	font-family: 'Kozuka Gothic Pr6N';
	src: url('./Kozuka Gothic Pr6N.eot');
	src: local('Kozuka Gothic Pr6N'), url('./Kozuka Gothic Pr6N.woff') format('woff'), url('./Kozuka Gothic Pr6N.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_31244">Text with this font applied</p> */
.fontsforweb_fontid_31244 {
	font-family: 'Kozuka Gothic Pr6N' !important;

}
@font-face {
	font-family: 'KozGoPr6N-Bold';
	src: url('./KozGoPr6N-Bold.eot');
	src: local('KozGoPr6N-Bold'), url('./KozGoPr6N-Bold.woff') format('woff'), url('./KozGoPr6N-Bold.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_31244">Text with this font applied</p> */
.fontsforweb_fontid_31244 {
	font-family: 'KozGoPr6N-Bold' !important;
}
@font-face {
	font-family: 'CuprumFFU';
	src: url('./CuprumFFU.eot');
	src: local('CuprumFFU'), url('./CuprumFFU.woff') format('woff'), url('./CuprumFFU.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_31244">Text with this font applied</p> */
.fontsforweb_fontid_31244 {
	font-family: 'CuprumFFU' !important;
}
@font-face {
	font-family: 'Molot';
	src: url('./Molot.eot');
	src: local('Molot'), url('./Molot.woff') format('woff'), url('./Molot.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_31244">Text with this font applied</p> */
.fontsforweb_fontid_31244 {
	font-family: 'Molot' !important;
}
@font-face {
	font-family: 'Tahoma';
	src: url('./Tahoma.eot');
	src: local('Tahoma'), url('./Tahoma.woff') format('woff'), url('./Tahoma.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_31244">Text with this font applied</p> */
.fontsforweb_fontid_31244 {
	font-family: 'Tahoma' !important;
}
@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: url('./HelveticaNeue-Bold.eot');
	src: local('HelveticaNeue-Bold'), url('./HelveticaNeue-Bold.woff') format('woff'), url('./HelveticaNeue-Bold.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_31244">Text with this font applied</p> */
.fontsforweb_fontid_31244 {
	font-family: 'HelveticaNeue-Bold' !important;
}